// 项目提供scss变量  scss用$

// 左侧菜单
$base-menu-width: 260px;
$base-menu-background: #00162A;
$base-menu-min-width: 50px;

// 顶部导航的高度
$base-tabbar-height: 48px;

// logo高度设置
$base-menu-logo-height: 50px;

$base-logo-fontSize: 20px;